cart-list {
    .ion-content {
        height: 92% !important;
    }
    .item-title {
        font-weight: bold;
        color: #ae75e7;
    }
    .circle-btn {
        border-radius: 50% !important;
        padding: 5px !important;
    }
    .item-counter {
        border: none !important;
    }
}